    {% for note in notes %}
        <div class="bg-dark m-2 d-inline-block noteBox col-xl-4 border-primary border">
            <div class="bg-dark text-warning">
                <h2>{{ note.title }}</h2>
            </div>
            <hr>
            <p class="text-lead text-light" >{{ note.content }}</p>

            <p><a class="d-inline-block btn btn-lg btn-light text-danger my-2" href="/notes/updateRender/{{ note.id }}">Update</a></p>
            <p><a class="d-inline-block btn btn-lg btn-light text-danger my-2" href="/notes/delete/{{ note.id }}">Delete</a></p>

        </div>
    {% endfor %}